@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.card-img {
  position: relative;
  filter: brightness(0.7);
}

.with-icon:hover .iconify {
  color: black;
}

/* .card-img::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
} */

.lazy-image.loaded {
  opacity: 1;
}

.relative.flex.items-start {
  align-items: center !important;
}